body {
    font-family: Arial, sans-serif;
    background-color: #00FFFFFF;
    margin: 0;
    padding: 20px;
    background-image: "storage.jpg";
    width: auto;
    height: auto;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    color: rgb(255, 102, 0);
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccccccdb;
  }
  
  th {
    background-color: #f2f2f2;
  }

  
  tr:hover {
    background-color: #e0e0e0;
  }
  .button{
    color: black;
    font-size: 15px;
    text-align: center;
    margin-left: 50%;
    margin: 5%;
    padding: 10px;
    border: 50px;
    background-color: #005ccc;
}